extends layouts/blank

block content
	div.container.container-fluid
		div.jumbotron
			h1.logo
				a(href="/")
					i.fa.fa-cube
				| heroflow
			h3 Github flow via Heroku
			p Automate the deployment of your feature branches
			a.btn.btn-primary.btn-lg(href="/login") 
				i.fa.fa-github
				| Login with Github