extends layouts/blank

block content
	div.container.container-fluid
		div.jumbotron(style="background-color: rgba(0, 0, 0, 0.48);margin-top: 100px;")
			h1(style="font-family:'Square Sans Pro Light', Calibri, 'Trebuchet MS', sans-serif; font-size-adjust:0.49; font-weight:200; font-style:normal;font-style: normal;letter-spacing: -1px;") 
				a(href="/")
					i.fa.fa-cube(style="margin-right:0.5em;color: rgb(254, 114, 30);")
				| heroflow
			h3 Github flow via Heroku
			p Automate the deployment of your feature branches
			a.btn.btn-primary.btn-lg(href="/login") 
				i.fa.fa-github(style="margin-right:0.5em;")
				| Login with Github