html
	head
		title heroflow
		block head			
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css") 
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/public/css/heroflow.css")
		script.
			WebFontConfig = { fontdeck: { id: '53213' } };
			(function() {
			  var wf = document.createElement('script');
			  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			  wf.type = 'text/javascript';
			  wf.async = 'true';
			  var s = document.getElementsByTagName('script')[0];
			  s.parentNode.insertBefore(wf, s);
			})();
	body
		header
			div.container
				ul.nav.nav-pills.pull-right
					if user
						li(class=route === 'projects' ? 'active': '')
							a(href="projects") Projects
						li(class=(route === 'features' ? 'active' : '')) 
							a(href="/features") Features
						li
							a(href="/logout") Logout
				h1.logo
					a(href="/")
						i.fa.fa-cube
					| heroflow
		div.container
			block content