html
	head
		title Feature Deployer
		block head
		script.
			WebFontConfig = { fontdeck: { id: '53213' } };
			(function() {
			  var wf = document.createElement('script');
			  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			  wf.type = 'text/javascript';
			  wf.async = 'true';
			  var s = document.getElementsByTagName('script')[0];
			  s.parentNode.insertBefore(wf, s);
			})();
	body
		div.container
			.page-header
				ul.nav.nav-pills.pull-right
					li(class=(route === 'features' ? 'active' : '')) 
						a(href="/") My features
					li(class=(route === 'about' ? 'active' : ''))
						a(href="/about") About
	
				h1(style="font-family:'Square Sans Pro Light', Calibri, 'Trebuchet MS', sans-serif; font-size-adjust:0.49; font-weight:200; font-style:normal;font-style: normal;letter-spacing: -1px;") 
					i.fa.fa-cube(style="margin-right:0.5em;")
					| heroflow
			block content
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css") 
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")